#g_body {
    background-color: #151515;
}

#g_body::after {
    background: linear-gradient(180deg, hsl(0deg 0% 0% / 10%) 0%, transparent 100%);
}

#g_body::before {
    content: '';
    width: 25px;
    height: calc(var(--gwh_height));
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../../../assets/img/skins/warcraft/border_right.png');
    background-repeat: repeat-y;
    background-size: 25px;
    z-index: 0;
}

#g_body::after {
    content: '';
    width: 25px;
    height: calc(var(--gwh_height));
    position: absolute;
    top: 0;
    left: calc(100% - 25px);
    background-image: url('../../../assets/img/skins/warcraft/border_left.png');
    background-repeat: repeat-y;
    background-size: 25px;
    z-index: 0;
}

/* Кнопки и поля */
#g_body > .header > button {
    background-color: #626262;
    color: #fff;
    border: 1px solid #474747;
}

#g_body > .header > button:hover {
    background-color: #474747;
    border: 1px solid #474747;
}

#g_body > .header > button:hover > svg {
    fill: #fff;
}

#g_body > .header > button::after {
    border-bottom: 5px solid #474747;
}

#g_body > .header > input,
#g_body > #menu > input {
    background-color: #626262;
    color: #ffffff;
    border: 1px solid #474747;
}

#g_body > .header > input:hover,
#g_body > #menu > input:hover {
    background-color: #474747!important;
    border: 1px solid #474747!important;
}

#menu > label {
    color: #e6e6e6!important;
}

/* Колбы и шары*/
#g_body > .wrapper > .flask {
    background-color: rgb(230 230 230 / 10%);
    border-radius: 0 0 0 0!important;
    -webkit-border-radius: 0 0 0 0!important;
    -moz-border-radius: 0 0 0 0!important;
    -ms-border-radius: 0 0 0 0!important;
    -o-border-radius: 0 0 0 0!important;
}

#g_body > .wrapper > .flask::after {
    background-color: rgb(230 230 230 / 10%);
}

#g_body > .wrapper > .flask::before {
    background-color: rgb(255,255,255,10%);
}

#g_body > .wrapper > .flask > .ball {
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -ms-border-radius: 0px!important;
    -o-border-radius: 0px!important;
}

#g_body > .wrapper > .flask > .ball[b_color="0"] {
    background-image: url('../../../assets/img/skins/warcraft/red.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="1"] {
    background-image: url('../../../assets/img/skins/warcraft/blue.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="2"] {
    background-image: url('../../../assets/img/skins/warcraft/green.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="3"] {
    background-image: url('../../../assets/img/skins/warcraft/orange.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="4"] {
    background-image: url('../../../assets/img/skins/warcraft/purple.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="5"] {
    background-image: url('../../../assets/img/skins/warcraft/light_blue.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="6"] {
    background-image: url('../../../assets/img/skins/warcraft/pink.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="7"] {
    background-image: url('../../../assets/img/skins/warcraft/light_green.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

#g_body > .wrapper > .flask > .ball[b_color="8"] {
    background-image: url('../../../assets/img/skins/warcraft/gray.webp');
    background-repeat: no-repeat;
    background-size: contain;
}

/* Меню */
#menu {
    background-color: #1f1f1f!important;
}

#menu > .close > svg {
    fill: #626262!important;
}

#menu > .close > svg:hover {
    fill: #474747!important;
}

#menu > form > input[name=field] + label{
    border: 2px solid #626262!important;
}

#menu > form > input[name=field]:checked + label{
    border: 2px solid #008000!important;
}

#menu > button {
    background-color: #626262!important;
    color: #fff!important;
    border: 1px solid #474747!important;
}

#menu > button::after {
    border-bottom: 5px solid #474747!important;
}

#menu > button:hover {
    background-color: #008000!important;
    color: #ffffff!important;
    border: 1px solid #004d00!important;
}

#menu > button:hover::after {
    border-bottom: 5px solid #004d00!important;
}